<div class="mb-5">
  <%= link_to "Show this question", @question, class: 'btn btn-warning' %>
  <%= link_to "Back to questions", questions_path, class: 'btn btn-primary' %>
</div>

<%= render "form", question: @question %>

<br>

